.imageProfile{
    width: 325px;
    height: 300px;
    position: relative;
    left: 40%;
}

.userDetails{text-align: center;}

@media screen and (max-width: 1000px) {
    .imageProfile {
        width: 225px;
        height: 230px;
        top: 130px;
        left: 37%;
    }

    .userDetails {padding: 20% 0 0 0;}
}

@media screen and (max-width: 520px) {
    .imageProfile {
        width: 175px;
        height: 200px;
        top: 130px;
        left: 29%;
    }

    .userDetails {text-align: center;}
}