#arrows {
    width: 11vw;
    height: 10vh;

    &:hover {
        polygon {
            fill: red;
            transition: all .2s ease-out;

            &.arrow-middle {
                transform: translateX(18px);
            }

            &.arrow-bottom {
                transform: translateX(36px);
            }
        }

        polygon#right {
            fill: red;
            transition: all .2s ease-out;

            &.arrow-middle {
                transform: translateX(-18px);
            }

            &.arrow-bottom {
                transform: translateX(-36px);
            }
        }
    }
}

.arrowRight {
    position: relative;
    left: -30px;
}

polygon {
    fill: #FFF;
    transition: all .2s ease-out;

    &.arrow-middle {
        opacity: 0.75;
    }

    &.arrow-top { 
        opacity: 0.5
    }
}

@media screen and (max-width: 960px) {
    #arrows {
        width: 8vw;
        height: 3vh;

        &:hover {
            polygon {
                fill: red;
                transition: all .2s ease-out;

                &.arrow-middle {
                    transform: translateX(18px);
                }

                &.arrow-bottom {
                    transform: translateX(36px);
                }
            }

            polygon#right {
                fill: red;
                transition: all .2s ease-out;

                &.arrow-middle {
                    transform: translateX(-18px);
                }

                &.arrow-bottom {
                    transform: translateX(-36px);
                }
            }
        }
    }

    .arrowRight {
        position: relative;
        top: -101vh;
        left: 82vw;
    }

    .arrowLeft{
        position: relative;
        top: 28vh;
        left: 10vw;
    }

    polygon {
        fill: #FFF;
        transition: all .2s ease-out;

        &.arrow-middle {
            opacity: 0.75;
        }

        &.arrow-top {
            opacity: 0.5;
        }
    }
}

@media screen and (max-width: 479px){
    #arrows {
            width: 8vw;
            height: 3vh;
    
            &:hover {
                polygon {
                    fill: red;
                    transition: all .2s ease-out;
    
                    &.arrow-middle {
                        transform: translateX(18px);
                    }
    
                    &.arrow-bottom {
                        transform: translateX(36px);
                    }
                }
    
                polygon#right {
                    fill: red;
                    transition: all .2s ease-out;
    
                    &.arrow-middle {
                        transform: translateX(-18px);
                    }
    
                    &.arrow-bottom {
                        transform: translateX(-36px);
                    }
                }
            }
        }
    
        .arrowRight {
            position: relative;
            top: -101vh;
            left: 82vw;
        }
    
        .arrowLeft {
            position: relative;
            top: 28vh;
            left: 10vw;
        }
    
        polygon {
            fill: #FFF;
            transition: all .2s ease-out;
    
            &.arrow-middle {
                opacity: 0.75;
            }
    
            &.arrow-top {
                opacity: 0.5;
            }
        }
    }