#arrows {
    width: 6.510416666666667vw;
    height: 9.246088193456615vh;

    &:hover {
        polygon {
            fill: red;
            transition: all .2s ease-out;

            &.arrow-middle {
                transform: translateX(18px);
            }

            &.arrow-bottom {
                transform: translateX(36px);
            }
        }

        polygon#right {
            fill: red;
            transition: all .2s ease-out;

            &.arrow-middle {
                transform: translateX(-18px);
            }

            &.arrow-bottom {
                transform: translateX(-36px);
            }
        }
    }
}

.arrowRight {
    position: relative;
    left: -1.953125vw;
}

polygon {
    fill: #FFF;
    transition: all .2s ease-out;

    &.arrow-middle {
        opacity: 0.75;
    }

    &.arrow-top {
        opacity: 0.5
    }
}