.toggleMenu {
    list-style-type: none;
    font-size: 14px;
    display: none;
    position: relative;
    text-decoration: none;
}

ul {padding-top: 12px;}

.configurationList {
    padding: 16px 0;
    align-items: center;
    border-radius: 6.4px;
    border: 1px solid #000000;
    background-color: #333333;
    z-index: 1;
}

.toggleMenu.show {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 18px;
}

.configureLanguage {
    position: relative;
    left: 100px;
    top: 100px;
}

@media screen and (max-width: 1000px) {
    .toggleMenu.show {top: -22px;}
}

@media screen and (max-width: 520px) {
    .toggleMenu.show {
        text-align: center;
        position: relative;
        top: -8.5vh;
        left: 125px;
    }
}