.toggleMenu{
    list-style-type: none;
    font-size: 0.875rem;
    min-width: 10rem;
    padding: 1.1379800853485065vh 0;
    border-radius: 0.5rem;
    display: none;
    position: relative;
    top: 3.2773826458036983vh;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

ul{
    padding-top: 1.7069701280227596vh;
}

.configurationList{
    padding-top: 2.275960170697013vh;
    padding-bottom: 2.275960170697013vh;
    align-items: center;
    border-radius: 0.4rem;
    border: 1px solid #000000;
    background-color: #333333;
}

.toggleMenu.show{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.configureLanguage{
    position: relative;
    left: 6.510416666666667vw;
    top: 14.22475106685633vh;
}