.menuButton{
    width: 11.393749999999999vw;
    height: 5.689900426742532vh;
    line-height: 2.5rem;
    background-color: #595959;
    outline: none;
    border: 1px solid #595959;
    border-radius: 6.25rem;
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-size: 1.25rem;
    position: relative;
    top: 4.267425320056899vh;
}

.menuItems{
    text-align: center;
    padding-left: 0.6510416666666666vw;
    a{
        display: block;
        text-decoration: none;
        color: #fff;
    }
    button{
        cursor: pointer;
    }
}

.menuItems:nth-child(3) {
    padding-left: 39.0625vw;
}

.loginButton{
    background-color: #ff0000;
    border: #ff0000;
    transition: 0.5s;
    &:hover{
        background-color: #990000;
    }
}

.userProfile{
    width: 4.8828125vw;
    height: 10.668563300142248vh;
    border: none;
    outline: none;
}

.profileLink{
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 2.844950213371266vh 1.3020833333333333vw 2.844950213371266vh 1.3020833333333333vw;
}