.menuButton {
    width: 175px;
    height: 40px;
    line-height: 40px;
    background-color: #595959;
    outline: none;
    border: 1px solid #595959;
    border-radius: 100px;
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-size: 20px;
    position: relative;
    top: 30px;
}

.menuItems {
    text-align: center;
    padding: 2px 0 0 10px;
    a {
        display: block;
        text-decoration: none;
        color: #fff;
    }

    button {cursor: pointer;}
}

.menuItems:nth-child(3) {padding-left: 40vw;}

.loginButton {
    background-color: #ff0000;
    border: #ff0000;
    transition: 0.5s;

    &:hover {background-color: #990000;}
}

.userProfile {
    width: 75px;
    height: 75px;
    border: none;
    outline: none;
}

.profileLink {
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 20px;
}

@media screen and (max-width: 1000px) {
    .menuButton {
        width: 100px;
        font-size: 16px;
        top: -10px;
        justify-content: flex-start;
    }

    .loginButton {
        height: auto;
        font-size: 14px;
    }

    .menuItems {
        padding-left: 10px;
        a {display: block;}
    }

    .menuItems:nth-child(3) {padding: 0 0 0 35vw;}
}

@media screen and (max-width: 520px) {
    .menuItems:nth-child(3) {padding: 0 0 0 0;}
}