.menuButton{
    width: 10.938rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #595959;
    outline: none;
    border: 1px solid #595959;
    border-radius: 6.25rem;
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-size: 1.25rem;
    position: relative;
    top: 1.875rem;
}

.menuItems{
    text-align: center;
    padding-left: 0.625rem;
    a{
        display: block;
        text-decoration: none;
        color: #fff;
    }
    button{
        cursor: pointer;
    }
}

.menuItems:nth-child(3) {
    padding-left: 37.5rem;
}

.loginButton{
    background-color: #ff0000;
    outline: #ff0000;
}