.categoriesList {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(4, 1fr);
}

.configurationNav {
    position: relative;
    top: 30px;
    left: -1rem;
    float: right;
    width: 90%;
}

.mdClose .fiMenu {color: #fff;}

.hambMenu {display: none;}

.showMenu {
    display: block;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
}

@media screen and (max-width: 1000px) {
    .configurationNav {
        top: 3rem;
        left: 4rem;
        float: none;
    }
}

@media screen and (max-width: 520px) {
    .categoriesList {
        position: relative;
        bottom: 10vh;
        right: 33vw;
    }

    .hambMenu {
        background-color: transparent;
        color: #fff;
        border: none;
        display: block;
        position: relative;
        bottom: 4.5vh;
        right: 35vw;
        cursor: pointer;
        z-index: 10;
    }
}