.titleCategory{
    text-align: center;
    font-size: 40px;
}

.secondaryStyle{
    color: #fff;
    text-decoration: none;
    h2{
        padding: 0 0 2% 12vw;
    }
}

@media screen and (max-width: 1000px) {
    .titleCategory {
        position: relative;
        top: 140px;
    }

    .secondaryStyle{
    h2{
        padding: 20% 0 2% 10vw;
        font-size: 34px;
        }
    }
}

@media screen and (max-width: 520px) {
    .secondaryStyle {
        h2 {
            padding: 35% 0 2% 10vw;
            text-align: center;
            position: relative;
            right: 3vw;
        }
    }

    .titleCategory {
        position: relative;
        top: 20vh;
    }
}