.imagePosition {
    width: auto;
    height: 275px;
}

.registerTitle{
    background: url('../../../public/images/TBAFlix_Header.jpg') no-repeat center/cover;
    text-align: center;
    background-color: #000;
    color: #fff;
    height: 0%;
    padding: 80px 0 0 0;
}

.registerContainer {
    padding: 20px 0 0 0;
}

.registerInput{
    width: 32%;
    height: 60.5px;
    font-size: 16px;
    padding-left: 1%;
    outline: transparent;
}
@media screen and (max-width: 767px) {
    .imagePosition {
        width: auto;
        height: 137.5px;
    }
}

@media screen and (max-width: 479px) {
    .imagePosition {
        width: auto;
        height: 68.5px;
    }

    
}

.registerBTN{
    width: 9%;
    height: 66px;
    font-size: 16px;
    font-weight: 600;
    background-color: #ff0000;
    border: none;
    border-radius: 3px;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
}

.registerBTN:hover {
    background-color: #990000;
}

.registerLink{
    text-decoration: none;
    height: 6.401137980085348vh;
    background-color: #ff0000;
    color: #fff;
}

.registerLink:hover {
    background-color: #990000;
}