.imagePosition {
    width: auto;
    height: 39.11806543385491vh;
}

.registerTitle{
    background: url('../../../public/images/TBAFlix_Header.jpg') no-repeat center/cover;
    text-align: center;
    background-color: #000;
    color: #fff;
    height: 49.786628733997155vh;
    padding: 11.379800853485063vh 0 0 0;
}

.registerContainer {
    padding: 2.844950213371266vh 0 0 0;
}

.registerInput{
    width: 32%;
    height: 7.823613086770981vh;
    font-size: 16px;
    padding-left: 1%;
    outline: transparent;
}

.registerBTN{
    width: 9%;
    height: 8.677098150782362vh;
    font-size: 16px;
    font-weight: 600;
    background-color: #ff0000;
    border: none;
    border-radius: 3px;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;

    
}

.registerBTN:hover {
    background-color: #990000;
}


.registerLink{
    text-decoration: none;
    height: 6.401137980085348vh;
    background-color: #ff0000;
    color: #fff;
}

.registerLink:hover {
    background-color: #990000;
}