.titleStyle{
    text-align: center;
    padding: 10% 0 10% 0;
}

.moviesPosition{
    display: block;
    flex-direction: row;
    justify-content: center;
}

.imageSection{
    width: 220px;
    height: auto;
    display: block;
    padding: 0 15px;
    border-radius: 1.5rem;
}

.configureLink{
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 520px) {
    .imageSection {width: 120px;}
}