.titleStyle{
    text-align: center;
}

.moviesPosition{
    display: block;
    flex-direction: row;
    justify-content: center;
}

.moviesSizeImage{
    width: 13.671875vw;
    height: 45.519203413940254vh;
    display: block;
    padding: 0 0.9765625vw;
    border-radius: 1.5rem;
}

.configureLink{
    text-decoration: none;
    color: #fff;
}