.moviesTitle{
    text-align: center;
    font-size: 40px;
    padding: 3% 0 0 0;
    background-color: #000;
    color: #fff;
}

.viewPosition{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.firsBtnLeft{
    gap: 5px;
    width: 3.5%;
    height: 5%;
    position: relative;
    top: 200px;
    line-height: end;
    border: none;
    font-weight: 600;
    font-size: 32px;
    padding-right: 5%;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.firsBtnRight {
    gap: 5px;
    width: 3.5%;
    height: 5%;
    position: relative;
    top: 28.44950213371266vh;
    border: none;
    font-weight: 600;
    font-size: 32px;
    padding-left: 5%;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .viewPosition {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1% 14vw 6vh 0;
        position: relative;
        left: -3vw;
        gap: 12%;
    }
        
    .moviesTitle {
        text-align: center;
        font-size: 32px;
        justify-content: center;
        padding: 3% 0 0 0;
        background-color: #000;
        color: #fff;
    }
}

@media screen and (max-width: 479px) {
    .moviesTitle {
            text-align: center;
            font-size: 24px;
            padding-top: 3%;
            background-color: #000;
            color: #fff;
        }

    .viewPosition {
        display: wrap;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 0 0 0;
        justify-content: center;
    }
}