.moviesTitle{
    text-align: center;
    font-size: 40px;
    padding: 3% 0 0 0;
    background-color: #000;
    color: #fff;
}

.viewPosition{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .viewPosition {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding: 1% 0 20px 10%;
        gap: 1%;
    }
        
    .moviesTitle {
        font-size: 32px;
        justify-content: center;
        padding: 3% 0 0 0;
    }
}

@media screen and (max-width: 520px) {
    .moviesTitle {
            text-align: center;
            font-size: 24px;
            padding-top: 3%;
        }
}