.columnsPosition{
    display: flex;
    flex-direction: center;
    padding-left: 3.6458333333333335vw;
}

.imageConfiguration{
    width: 26.041666666666668vw;
    height: 79.65860597439544vh;
    border-radius: 0.7rem;
}

.textPosition{
    text-align: center;
}