.columnsPosition{
    display: flex;
    flex-direction: center;
    padding-left: 56px;
}

.imageConfiguration{
    width: 400px;
    height: 560px;
    border-radius: 11.2px;
}

.textPosition{
    text-align: center;
}