.columnsPosition{
    display: flex;
    flex-direction: center;
    padding-left: 56px;
}

.imageConfiguration{
    width: 400px;
    height: 560px;
    border-radius: 11.2px;
}

.textPosition{text-align: center;}

@media screen and (max-width: 1000px) {
    .columnsPosition {padding: 22% 0 0 56px;}

    .imageConfiguration {
        width: 35vw;
        height: 68vh;
    }
}

@media screen and (max-width: 520px) {
    .columnsPosition {padding: 34% 0 0 4vw;}

    .imageConfiguration {
        width: 220px;
        height: 300px;
    }
}